@model Student

<div class="card shadow border-0 mt-4">
    <div class="card-header bg-primary ml-0 py-3">
        <div class="row">
            <div class="col-12 text-center">
                <h2 class="text-white py-3">Update Details</h2>
            </div>
        </div>
    </div>
    <div class="card-body p-4">
        <form method="post" class="row" enctype="multipart/form-data">
            <input asp-for="@Model.Id" hidden />
            <input asp-for="@Model.ProfilePicture" hidden />
            <div class="row">
                <div class="col-2">
                    <img src="@Model.ProfilePicture" alt="Profile Picture" width="200" />
                </div>
                <div class="col-10">
                    <div class="border p-3">
                        <div asp-validation-summary="All"></div>
                        <div class="mb-3 row">
                            <label asp-for="@Model.FirstName"></label>
                            <input disabled type="text" class="form-control" asp-for="@Model.FirstName" />
                            <span asp-validation-for="@Model.FirstName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row">
                            <label asp-for="@Model.LastName"></label>
                            <input disabled type="text" class="form-control" asp-for="@Model.LastName" />
                            <span asp-validation-for="@Model.LastName" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row">
                            <label asp-for="@Model.Address"></label>
                            <input disabled type="text" class="form-control" asp-for="@Model.Address" />
                            <span asp-validation-for="@Model.Address" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row">
                            <label asp-for="@Model.DateOfBirth"></label>
                            <input disabled type="date" class="form-control" asp-for="@Model.DateOfBirth" />
                            <span asp-validation-for="@Model.DateOfBirth" class="text-danger"></span>
                        </div>
                        <div class="mb-3 row">
                            <label asp-for="@Model.ProfilePicture"></label>
                            <input disabled type="file" name="file" class="form-control" />
                        </div>
                        <div class="mb-3 row">
                            <div class="col-6 col-md-3">
                                <a asp-action="Index" class="btn btn-outline-secondary form-control">Back to list</a>
                            </div>
                            <div class="col-6 col-md-3">
                                <button type="submit" class="btn btn-primary form-control">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </form>
    </div>
</div>



@section Scripts
{
    @{
        <partial name="_ValidationScriptsPartial" />
    }
}
